
body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.container-fluid {
}

.sidebar-nav {
  background-color: @heroUnitBackground;
}

.content {
}

.col {
  margin-left: 30px;
  padding-bottom: 300px;
}

.task {
  .rounded();
  .hand();
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;
}

.task-normal {
  background-color: @gray;
}

.task-inverse {
  background-color: @black;
}

.task-primary {
  background-color: @blue;
}

.task-success {
  background-color: @green;
}

.task-info {
  background-color: @blue;
}

.task-warning {
  background-color: @orange;
}

.task-important {
  background-color: @red;
}

.calendar {
  td {
    width: 120px;
    height: 90px;
    border: 1px solid black;
  }
}
