
body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.container-fluid {
}

.sidebar-nav {
  background-color: @heroUnitBackground;
}

.content {
}

.task-group {
  padding-bottom: 300px;
}

.task {
  .rounded();
  .hand();
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;
}

.task-todo {
  background-color: @red;
}

.task-inprogress {
  background-color: @orange;
}

.task-done {
  background-color: @green;
}

.calendar {
  td {
    width: 120px;
    height: 90px;
    border: 1px solid black;
  }
}
